sudo: false
language: generic
cache:
  directories:
  - "$HOME/.stack"
addons:
  apt:
    packages:
    - libgmp-dev
before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards
  --strip-components=1 -C ~/.local/bin '*/stack'
install:
- stack --no-terminal --install-ghc test --only-dependencies
script:
- stack --no-terminal test

before_deploy:
  - stack --no-terminal --local-bin-path . install ffs  

deploy:
  provider: releases
  api_key:
    secure: ZiJ5GrxLQD85GZL+z4kUNSB6/GL6A4QqqcPXAUdG2JP3yimsG4QnPeztIZlmtZHxs6tAQfHM56TUMDeaO6dlWPpbCG5qOoQBzm3HLYBKfbJHVC08dMPzb/WMx27d87zlAP7zenhWpBqCn3q5VTSrN0lWsNfJv/jtjKuCNDuyzgP/vCZrpGgVnzALYQaiEuMjnD0e96vR0q1uxNwj38m2jKfnXIh9E6y+fiE5m7qhOthybLjLY9poaaq4/mUmv2Letpaz3mXA/vOjGkR1g/TXBatnDR2HgExh0+1yTusl5w821q0M4oIsbIjxLxAxRd7mB8yGM84v0lKpEFHUrKdWd5R6anvoCFAcLTdsmhBIB/EoGOkX/Re05s4YO16u5lyxcVklTMv/ujJkwTgIXf6HzudZ/xbTGVbeJ88Viu8BPuYwi/Why75Sxi8Jm141ye/bU9VNB0JVSXydygMF5aNHflAOTtNju3BNtk/+/IjM+R+/xo2Vm6IeC7IhO71OH2bSW+HokWfhdiCJThgU9tIpZGVtYtV4BJiGGAtPi5cFvvzlp4OWp01tL4hRENm3jxTWg6vPG540izJfWSOkgPWorc4h84OywOKaIJK9JErgpHgI36eOLJwx3+BX8EC7jLNQ0cuYzpCJIf2yBctC3qXdkLUEAZF54tD+QJEgpNoR0Bg=
  file: ffs
  skip_cleanup: true
  on:
    repo: tcsc/ffs
